<div class="d-lg-flex half login">
    <div class="bg order-1 order-md-1"></div>
    <div class="contents order-2 order-md-2">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-7">
                    <h3>{{'LOGIN_TO' | translate}}<strong> {{'SHGARDI_PARTNER'| translate}}</strong></h3>

                    <form class="kt-form" [formGroup]="loginForm" autocomplete="off" (keydown.enter)="login()">
                        <div class="form-group first">
                            <label for="email">{{ 'EMAIL' | translate }}</label>
                            <input class="form-control" id="email" type="email" placeholder="{{ 'EMAIL' | translate }}" formControlName="email" autocomplete="off">
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'email','required')"> {{ 'REQUIRED' | translate : { name : 'email'} }} </mat-error>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'email','email')"> {{ 'INVALID_EMAIL' | translate }} </mat-error>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'email','minlength')"> {{ 'MIN_LENGTH' | translate : { length :3} }} </mat-error>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'email','maxlength')"> {{ 'MAX_LENGTH' | translate : { length :20} }} </mat-error>
                        </div>
                        <div class="form-group last mb-3">
                            <label for="password">{{ 'PASSWORD' | translate }}</label>
                            <input class="form-control" id="password" type="password" placeholder="{{ 'PASSWORD' | translate }}" [type]="hide ? 'password' : 'text'" formControlName="password" autocomplete="off">
                            <button class="show_password" id="btn_show_password" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'password','required')"> {{ 'REQUIRED' | translate : { name : 'password'} }} </mat-error>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'password','minlength')"> {{ 'MIN_LENGTH' | translate : { length :3} }} </mat-error>
                            <mat-error id="error_email_required" *ngIf="hasError(loginForm,'password','maxlength')"> {{ 'MAX_LENGTH' | translate : { length :20} }} </mat-error>
                        </div>

                        <div class="kt-login__actions">
                            <button mat-raised-button class="btn btn-block btn-main" (click)="login()">{{'LOGIN'| translate }}</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>